# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*.cs]
# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_analyzer_diagnostic.category-CodeQuality.severity = error

# enable IDE0161: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE rules
dotnet_diagnostic.IDE0008.severity = none # Use explicit type instead of 'var' - nope!
dotnet_diagnostic.IDE0055.severity = none # Just says 'Fix formatting' without further details - very annoying!
dotnet_diagnostic.IDE0058.severity = none # Expression value is never used - triggers on StringBuilder.Append()
dotnet_diagnostic.IDE0065.severity = none # Using directives must be placed outside of a namespace declaration - conflicts with SA1200
dotnet_diagnostic.IDE0072.severity = none # Populate switch - this rule requires all enum values to be explicit, only '_ =>' for default is not enough

# Menees rules
dotnet_diagnostic.MEN001.severity = none  # Tabs should be used for indentation
dotnet_diagnostic.MEN002.severity = error # Line is too long
dotnet_diagnostic.MEN003.severity = error # Method is too long
dotnet_diagnostic.MEN004.severity = error # Property accessor is too long
dotnet_diagnostic.MEN005.severity = error # File is too long
dotnet_diagnostic.MEN006.severity = none  # #regions should be used
dotnet_diagnostic.MEN007.severity = none  # Use a single return
dotnet_diagnostic.MEN008.severity = error # File name should match type
dotnet_diagnostic.MEN009.severity = error # Use the preferred exception type
dotnet_diagnostic.MEN010.severity = none  # Avoid magic numbers
dotnet_diagnostic.MEN011.severity = error # Align using directives
dotnet_diagnostic.MEN012.severity = error # Flags should be powers of two
dotnet_diagnostic.MEN013.severity = error # Use UTC time
dotnet_diagnostic.MEN014.severity = error # Prefer TryGetValue
dotnet_diagnostic.MEN015.severity = error # Use Preferred Terms
dotnet_diagnostic.MEN016.severity = none  # Avoid Top-Level Statements
